// styles.scss or any of your scss files
.landingpage-slideshow-top{
  background-color: $ocean-teal;
  height: 50vh;
  margin: 3vh 9vw;
  border-bottom-left-radius: 30px 30px;
  border-bottom-right-radius: 30px 30px;
  position: relative;

}
.landingpage-slide-top-button{
  position: absolute;

  left:5vw ;
  bottom: 10vh;

}

.landingpage-slide-top-button .sign-link{
  text-decoration: none;
  font-size: 0.8rem;
  background-color: $sunny-yellow;
  padding: 7px 36px;
  border-radius: 5px;
color: black;
}
.landingpage-slideshow-top .svglink{
  position: absolute;
  right:8vw ;
  bottom: 12.5vh;

}
.landingpage-slide-top-title{
  position: absolute;
  left:5vw ;
  top: 8vh;
  max-width: 26vw;

}
.landingpage-slideshow-top  p{
font-size: 3rem;


}
