.hompage-list-container {}

.homepage-list-title {
  text-align: center;
  background-color: $deep-navy;
  color: white;
}

.homepage-list-eachbox {
  background-color: $sunny-yellow;
  font-size: 0.7rem;
line-height: 12px;
}
.homepage-list-box-name{
  color:$ocean-teal;
}
