.hompage-list-container {}

.homepage-list-title {
  text-align: center;
  background-color: $deep-navy;
  color: white;
  margin: 0px 8px;
}

.homepage-list-eachbox {
  background-color: $sunny-yellow;
  font-size: 0.7rem;
  line-height: 12px;
  margin: 8px;
  // box-shadow: 0px 2px 6px 2px rgba(205, 176, 123, 0.1);

}

.homepage-list-box-name {
  color: $ocean-teal;
}

.scorelist-link {
  text-decoration: none !important;
  color: $ocean-teal;
}
.pdf-scorepage embed{
  height: 85vh;
}
.scorepage-descriptions{
  color :$ocean-teal ;
  margin-top: 20vh !important;
}

.scorepage-descriptions h2{
  font-size: 1.3rem;
}
